<!DOCTYPE html>
<html lang="en">

<head>
{{>headerlinks}}
</head>

<body>
{{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_fom">
                        <input type="text" id="cityname" placeholder="Enter Your City Name" autocomplete="off">
                        <input type="search" value="search" id="submitBtn">
                    </form>
                </div>
                <div class="tempInformtion">
                    <div class="top_layer">
                        <p id="day">Tusday</p>
                        <p id="today_data">13 OCT</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Output Here</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span>0</span> <sup>o</sup>C</p>
                            <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i> </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- footer code -->
{{>footer}}
</body>

</html>